


# Google Apps Script Web App for Google Sheets
VITE_GOOGLE_SHEETS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzpYIEGa9t76_cJO9OqFoiWSKBvffnGNMBkJt9qVmxG1sUt3-8E_KUTbncci8rDXA31ug/exec"
VITE_GOOGLE_SHEETS_DEPLOYMENT_ID="AKfycbzpYIEGa9t76_cJO9OqFoiWSKBvffnGNMBkJt9qVmxG1sUt3-8E_KUTbncci8rDXA31ug"

